* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 66%,
    rgba(226, 251, 251, 1) 82%,
    rgba(206, 211, 212, 1) 100%
  );
}

.navbar {
  display: flex;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-transform: uppercase;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 6px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}



button {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  text-transform: uppercase;

  i {
    margin-left: 10px;
  }
}

button:hover {
  background-color: #45a049;

}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
